[Unit]
Description=tirdad
Documentation=https://github.com/Whonix/tirdad

Before=network-pre.target
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/tirdad/loader

[Install]
WantedBy=multi-user.target
