## Copyright (C) 2019 - 2019 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=tirdad
Documentation=https://github.com/Whonix/tirdad
DefaultDependencies=no

Requires=local-fs.target
After=local-fs.target

## Should start before LKRG.
#sudo systemd-analyze verify default.target
#qubes-sysinit.service: Found ordering cycle on systemd-modules-load.service/start
#qubes-sysinit.service: Found dependency on tirdad-dkms.service/start
#qubes-sysinit.service: Found dependency on local-fs.target/start
#qubes-sysinit.service: Found dependency on qubes-mount-dirs.service/start
#qubes-sysinit.service: Found dependency on qubes-sysinit.service/start
#qubes-sysinit.service: Job systemd-modules-load.service/start deleted to break ordering cycle starting with qubes-sysinit.service/start
#Before=systemd-modules-load.service

Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/tirdad/loader

[Install]
WantedBy=multi-user.target
